body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

canvas {
  display: block;
  background: url('bg.png') no-repeat center;
  background-size: cover;
}

.ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #00f7ff;
}

.hp-bar {
  width: 220px;
  height: 22px;
  border: 2px solid cyan;
  box-shadow: 0 0 15px cyan;
  margin-bottom: 10px;
}

#hpFill {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, lime, green);
  box-shadow: 0 0 15px lime;
  transition: width 0.2s;
}

.info {
  font-size: 18px;
}
